* {
    box-sizing: border-box;
}
body {
    font-family: Roboto,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #40546f;
    background-color: #fafafa;
    padding: 0;
    margin: 0;
    min-height: 100%;
    height: 100%;
    background: #fafafa;
    font-weight: 300;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.page-template-template-homepage > .container {
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%;
}
.page-template-template-homepage .elementor-widget-posts .elementor-post__thumbnail {
    padding-bottom: 0!important;
}
header {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    background-color: #104680;
    margin: auto;
    padding: 0;
    height: 60px;
}
header, header a, header button {
	color: #fff;
}
.header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1140px;
    margin: auto;
    height: 60px;
}
.header__logo {
    height: 24px;
}
.nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.nav-bar>* {
    margin-left: 15px;
    margin-right: 15px;
}
.nav-menu-container, .nav-menu-container>a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.nav-menu-container>a {
    height: 100%;
}
#app, main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
main {
    -ms-flex-direction: column;
    flex-direction: column;
}
main, main>div.main-content {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 0;
}
#app {
    min-height: 100%;
    -ms-flex-direction: column;
    flex-direction: column;
}
main>div.main-content {
    -ms-flex-item-align: center;
    align-self: center;
    width: 1140px;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
main>div.main-content-full-width {
    width: 100%;
    padding: 0;
}
.datasourceintegration-hero {
    background-color: #0f4580;
    color: #fff;
}
.container-medium {
    width: 1140px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.datasourceintegration-hero .container-medium {
    padding: 75px 1.75rem;
}
.help-paragraph {
    color: #727680;
    max-width: 780px;
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
}
h2:first-child {
    margin-top: 0;
}
.datasourceintegration-hero h2, .datasourceintegration-hero p {
    color: #fff;
}
.datasourceintegration-hero h2 {
    text-align: left;
    margin-bottom: 15px;
    font-size: 30px;
}
p {
    margin: 0 0 10px;
}
    
.datasourceintegration-hero p {
    font-size: 18px;
    margin-bottom: 2em;
}
.datasourceintegration-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}   margin-right: auto;
}
.mt-4 {
    margin-top: 1.5em;
}
.p-5 {
    padding: 3rem!important;
}
.container-my-datasources {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.container-medium {
    width: 1140px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.mt-5 {
    margin-top: 3em;
}
.datasourceintegration-detail>div {
    margin-bottom: 70px;
}
.main-content .left-side {
    -ms-flex-preferred-size: 330px;
    flex-basis: 330px;
    padding-right: 30px;
}
.main-content .left-side .all-categories {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #e6eaee;
    padding: 20px;
    margin-bottom: 46px;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.h4, h4 {
    font-size: 18px;
}
.main-content .left-side .all-categories h4 {
    font-size: 16px;
    color: #999;
    padding-bottom: 19px;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav:after, .nav:before {
    display: table;
    content: " ";
}
.nav-stacked>li {
    float: none;
}
.main-content .left-side .all-categories>ul>li {
    position: relative;
    display: block;
    padding: 10px 15px;
    cursor: pointer
}
.main-content .left-side .all-categories ul>li.active {
    background-color: #f3f7f9;
    border-radius: 5px;
    cursor: default;
}
.nav:after {
    clear: both;
}
#filter-tabs {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 1140px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    margin-top: 1.5em;
    padding: 3rem!important;
}
a {
    background-color: transparent;
    color: #2375d4;
}
a:active, a:hover {
    outline: 0;
}
a, a:focus, a:hover {
    text-decoration: none;
}
a:focus, a:hover {
    color: #185092;
}
.all-categories ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.main-content .right-side {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: calc(100% + 15px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.main-content .right-side > .card {
    min-width: 220px;
    margin-right: 15px;
    width: calc(1 / 4 * 100% - 15px);
    position: relative;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #e6eaee;
    margin-bottom: 40px;
    height: 216px;
    padding-top: 53px;
    text-align: center;
    box-sizing: border-box;
}

.main-content .right-side > .card a {
    text-align: center;
    font-size: 18px;
}

.main-content .right-side > .card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 67px;
    margin-bottom: 13px;
    object-fit: contain;
    width: auto;
}

.main-content .right-side > .card .title {
    margin-bottom: 3px;
    text-transform: uppercase;
    color: #40546f;
}
footer {
    font-size: 90%;
    margin-right: 50px;
    margin-left: 50px;
    padding: 15px 0;
}
footer, footer a {
    color: #979797;
}
.datasourceintegration-footer {
    background-image: linear-gradient(210deg,#66fcd2,#74d7e6 13%,#83b0fb 27%,#6ebbea);
    background-size: 100% 1000px;
    background-position: 100% 0;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 30px;
}
.mt-3 {
    margin-top: 0;
}
.h3, h3 {
    font-size: 24px;
}
.mb-3 {
    margin-bottom: 0;
}
.datasourceintegration-footer h3 {
    color: #d81a5d;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 14px 33px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-default {
    color: #0f4580;
    background-color: #fafafa;
    border-color: #0f4580;
    transition: 0.4s ease;
}
.btn-default:hover,
.btn-default:focus {
    background-color: #0f4580;
    border-color: #0f4580;
    color: #fff;
}
header a:active, header a:focus, header a:hover, header button:active, header button:focus, header button:hover {
    color: #fff;
    opacity: .7;
    text-decoration: none;
}
.nav-menu-container.active .nav-menu {
    display: block!important;
}
.nav-menu a, .nav-menu button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 20px;
    color: #40546f;
}
.nav-menu {
    border: 1px solid #e6eaee;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0;
    background: #fff;
    z-index: 500;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 200px;
    top: 60px;
    right: -15px;
}
.nav-menu a:focus, .nav-menu a:hover, .nav-menu button:focus, .nav-menu button:hover {
    color: #536c8f;
    background: #e6e5e5;
}
.search-control {
    position: relative;
    width: 100%;
    margin-bottom: 60px;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type=search] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none!important;
}
.search-control input {
    width: 100%;
    color: #a0a0a0;
    font-size: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #d0d7dd;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 42px;
    padding: 6px 12px 15px 37px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: Glyphicons Halflings;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.search-control i {
    font-size: 24px;
    left: 1px;
    color: #a6e50f;
    position: absolute;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    top: 4px;
}
.glyphicon-search:before {
    content: "\E003";
}
.integrations .help-paragraph {
    width: 100%;
    max-width: 100%;
}

.integrations .blend.detail.description {
    width: calc(100% - 520px);
    flex: 0 0 calc(100% - 520px);
    max-width: calc(100% - 520px);
}

.integrations .datasourceintegration-detail-connector .flex-row {
    display: flex;
    flex-wrap: wrap;
}
.integrations h2,
.supported-features h2,
.heading-section-blends-list h2 {
    font-size: 30px;
    color: #0f4580;
    text-align: center;
}

.integrations {
    padding-top: 80px;
}
.integrations h2 {
    font-size: 30px;
    color: #0f4580;
    font-weight: 600;
}

.integrations,
.section-padding {
    padding: 80px 0;
}
.main-button {
    background-color: #0f4580;
    padding: 14px 33px;
    border-radius: 2px;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    border: 1px solid #0f4580;
    transition: 0.4s ease;
}

.main-button:hover, .main-button:focus {
    background-color: #fff;
    color: #0f4580;
    border-color: #0f4580;
}
.supported-features .container-cards .card {
    min-width: 240px;
    margin-right: 15px;
    width: calc(1 / 2 * 100% - 15px);
    position: relative;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #e6eaee;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
}
.supported-features .container-cards {
    width: calc(100% + 15px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    max-height: 650px;
    overflow-y: auto;
}
.supported-features .container-cards .card h5 {
    font-size: 15px;
}
.supported-features h2 {
    margin-bottom: 70px;
}
.supported-features {
    padding-bottom: 100px;
}
.main-button + .btn-default {
    margin-left: 15px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}
.datasourceintegration-hero .help-paragraph .col-md-11 {
    width: 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.datasourceintegration-hero .help-paragraph .row {
    display: flex;
    flex-wrap: wrap;
}

.datasourceintegration-hero .help-paragraph .col-md-1 {
    width: 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.datasourceintegration-hero .help-paragraph {
    max-width: 100%;
}
.page-connector-detail .right-side {
    padding: 10px;
    padding-right: 0;
    border: 1px solid rgb(230, 234, 238);
    background-color: #fff;
}
.page-connector-detail .heading-section-blends-list h2 {
    margin-top: 80px;
}

.page-template-template-homepage > .container  {
    margin-top:137px!important;
}  
.navbar-default .navbar-nav>li>a:hover {
    color: #c5ed40;
}

.navbar-default .navbar-nav>li>a {
    padding: 0;
    transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
}

.navbar-default .navbar-nav>li {
    padding: 15px;
    margin-bottom: 0;
}
h1 {
    font-size: 32px;
    line-height: 40px;
}

p {
    font-size: 15px;
    line-height: 24px;
}
h2 {
    font-size: 30px;
    line-height: 40px;
}
h3 {
    font-size: 24px;
    line-height: 30px;
}

.elementor-column-gap-wider>.elementor-row>.elementor-column>.elementor-element-populated {
    padding: 30px 15px;
}
.navbar-default {
    min-height: auto;
    margin-bottom: 0;
    padding: 15px 0;
}

.navbar-default .navbar-collapse a {
    margin-top: 0;
}

.navbar-brand {
    padding: 0;
    height: auto;
}

.navbar-default .container-fluid > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.page-template-template-homepage .elementor-element-0e159c7 h2, .page-template-template-homepage .elementor-element-66b737a h2 {
    color: #048b8b;
}

.page-template-template-homepage .elementor-element-66b737a p {
    color: rgba(29,29,29,.7);
}

.page-template-template-homepage .elementor-element-29b65d1 h3,
.page-template-template-homepage .elementor-element-5c2cafb h3,
.page-template-template-homepage .elementor-element-dec9894 h3,
.page-template-template-homepage .elementor-element-04eb599 h2,
.page-template-template-homepage .elementor-element-1d516d5 h2,
.page-template-template-homepage .elementor-element-24cbdae h2,
.page-template-template-homepage .elementor-element-e3790be h2,
.page-template-template-homepage .elementor-element-ff79371 h2,
.page-template-template-homepage .elementor-element-b9ad3b3 h2 {
    color: #81a800;
}
.footer-menu>li>a {
    margin-bottom: 10px;
    font-size: 20px;
    color: #000;
}
.footer-menu>li {
    margin-bottom: 0;
    padding-bottom: 0;
}
.footer-menu {
    margin-bottom: 0;
}
.footer-container {
    padding-top: 15px;
    border-top: 1px solid #ddd;
    margin: 10px 0 0;
}
a.elementor-button-link {
    background-color: #abcf37!important;
    border: 0!important;
}

a.elementor-button-link:hover {
    opacity: 0.8;
}
.footer-menu li {
    margin-bottom: 5px;
    font-size: 16px;
}

.page-template-template-homepage .container>div {
    padding-bottom: 0;
}

.footer-logo {
    margin-bottom: 20px;
}
.footer-hr {
	display: none;
}


/*201009*/
.elementor-5557 .elementor-element.elementor-element-350ad2d:not(.elementor-motion-effects-element-type-background), .elementor-5557 .elementor-element.elementor-element-350ad2d>.elementor-motion-effects-container>.elementor-motion-effects-layer {

    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(210deg,#66fcd2 0%,#74d7e6 13%,#83b0fb 27%,#6ebbea 100%);
}
h1#banner-heding,
h1.detail-page-connector-title-hai-yeh {
    font-size: 34px;
    text-transform: uppercase;
    line-height: 43px;
    font-weight: 600;
    /*color: #fff;*/
    color: #d81a5d;
    margin-top: 0;
    /*line-height: 25px;*/
    margin-bottom: 30px;
}
p#banner-para {
    letter-spacing: 1px;
}
.page-template-template-homepage .elementor-element-0e159c7 h2, .page-template-template-homepage .elementor-element-66b737a h2 {
    color: #048b8b;
    max-width: 83%;
    letter-spacing: 2px;
    margin: 0 auto;
}
.elementor-5557 .elementor-element.elementor-element-91bf0f9:not(.elementor-motion-effects-element-type-background) {
    background-color: aliceblue;
}
.bluish{
    color: #048b8b;
}

.elementor-5557 .elementor-element.elementor-element-cd99418:not(.elementor-motion-effects-element-type-background),.elementor-5557 .elementor-element.elementor-element-e114217:not(.elementor-motion-effects-element-type-background),.elementor-5557 .elementor-element.elementor-element-e0dcbfd:not(.elementor-motion-effects-element-type-background){
    background-color: transparent;
    background-image: linear-gradient(90deg,#75affa 50%,#00efe0 100%);
}
.elementor-5557 .elementor-element.elementor-element-e114217:not(.elementor-motion-effects-element-type-background),.elementor-5557 .elementor-element.elementor-element-cce8779:not(.elementor-motion-effects-element-type-background){
    background-color: transparent;
    background-image: linear-gradient(90deg,#75affa 50%,#00efe0 100%);
}
.elementor-5557 .elementor-element.elementor-element-89bb302:not(.elementor-motion-effects-element-type-background) {
    background-color: transparent;
    background-image: linear-gradient(90deg,#75affa 50%,#00efe0 100%);
}
.elementor-5557 .elementor-element.elementor-element-59ad755:not(.elementor-motion-effects-element-type-background){
    background-color: aliceblue;
}
.elementor-5557 .elementor-element.elementor-element-c554fe2:not(.elementor-motion-effects-element-type-background),.elementor-5557 .elementor-element.elementor-element-467ec6f:not(.elementor-motion-effects-element-type-background),.elementor-5557 .elementor-element.elementor-element-e4c07e7:not(.elementor-motion-effects-element-type-background),.elementor-5557 .elementor-element.elementor-element-301f115:not(.elementor-motion-effects-element-type-background){
    background-color: aliceblue;
}
.footer-menu li>ul a{
    transition: 0.3s;
}
.footer-menu li>ul a:hover, .footer-menu li>ul a:active, .footer-menu li>ul a:focus {
    color: #d91b5d;
}
.elementor-5557 .elementor-element.elementor-element-fa98a82:not(.elementor-motion-effects-element-type-background) {
    background-color: #104680; 
    background-image: linear-gradient(210deg,#66fcd2 0%,#74d7e6 13%,#83b0fb 27%,#6ebbea 100%);
}
li#logo-wrap {
    margin: 0 50px 0 141px;
    padding-top: 8px;
}
a.btn.btn-lg.btn-transparent.visible-lg-block:hover {
    background-color: #fff;
    color: #104e9f !important;
}
.navbar-default .navbar-collapse a {
    margin-top: 0;
    transition: all 0.3s ease-in-out;
    color: #333;
}
a.btn.btn-lg.btn-white.visible-lg-block:hover {
    background-color: #61464600;
    border: 1px solid #fff;
    color: #fff;
}
div#bs-example-navbar-collapse-1 {
    padding-top: 10px;
}
.datasourceintegration-hero {
    color: #fff;
    background-image: linear-gradient(210deg,#66fcd2 0%,#74d7e6 13%,#83b0fb 27%,#6ebbea 100%);
}
a.btn.btn-default:hover {
    background-color: #9acd3200 !important;
    border-color: #fff;
}
a.btn.btn-default {
    color: #fff;
    background-color: #fafafa;
    border-color: #fff;
    transition: 0.4s ease;
    margin-top: 25px;
    background: #104e9f!important;
    font-weight: 300!important;
    font-family: Roboto,sans-serif!important;
    border-radius: 4px;
    font-size: 16px;
}
a.btn.btn-default:hover, a.btn.btn-default:focus {
    background-color: #abcf37!important;
}
footer {
    padding: 0 0 15px;
}
.footer-container {
    padding-top: 15px;
    border-top: 0px solid #ddd;
    margin: 0;
}
/*12oct2020*/
.page-template-template-homepage .elementor-element-0e159c7 h2,
.page-template-template-homepage .elementor-element-66b737a h2{
	    color: #d81a5d;
}
.bluish {
    color: #d81b5d;
}
.custom-section-class h3 ,
.custom-section-class h2{
    color: #d81a5e!important;
}
a.elementor-button-link {
	background:#d81a5d!important;
    border: 0!important;
}
a.elementor-button-link:hover{
    background-color: #abcf37!important;
    border: 0!important;
}
.elementor-widget-posts .elementor-post__read-more{
	color:#d91b5e
}
.elementor-widget-posts .elementor-post__read-more:hover{
	color: #61ce70;
}
footer{
	background: #d81a5d;
    margin: 0;
    border: 0;
}
.footer-logo {
    margin-bottom: 20px;
    background: #fff;
    padding: 4px;
    height: 40px;
    margin-top: 20px;
}
.footer-menu li>ul a{
	color:#000
}
.footer-container {
    color: #fff;
}
.navbar-default{
	background: #d81a5d;
}
a.navbar-brand img {
    background: #fff;
    padding: 2px;
}
.home .elementor-element-350ad2d.elementor-section-stretched.elementor-top-section{
	/*background-image: linear-gradient(210deg,#d81a5d 0%,#d81a5d 13%,#d81a5d 27%,#aacf36 100%);*/
    background: url(http://49.249.236.30:2728/logi/wp-content/uploads/2020/11/Background-Image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.home .elementor-element-350ad2d.elementor-section-stretched.elementor-top-section::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
}
.custom-green-background {
    background-color: rgba(171, 208, 55 ,0.8)!important;
    background: rgba(171, 208, 55 ,0.8)!important;
}
.white-background {
    background: #fff!important;
    padding-top: 35px;
}
.custom-green-background a.elementor-button-link:hover{
	background: #d81a5d!important
}
.custom-grey-background {
    background: #f1f1f1!important;
    padding: 55px 0;
}
.custom-green-background p,
.custom-green-background p span{
	color:#333!important
}
.footer-container.copyright {
    text-align: center;
}
.footer-menu li>ul a:hover, .footer-menu li>ul a:active, .footer-menu li>ul a:focus{
	color:#aad036!important
}
.navbar-default a.btn.btn-lg.btn-transparent.visible-lg-block:hover {
    background: #abcf37;
    border-color: #abcf37!important;
    color:#fff!important
}

/**/
.navbar-default .navbar-nav>li>a{
    color: #333;
}
.navbar-default .navbar-collapse .btn{
    border-color: #333 !important;
    color: #333 !important;
}
.navbar-default {
    background: #f3f3f3bf;
}
a.navbar-brand img{
    background: transparent;
}
footer{
        background:  #f0ecec;
}
.footer-logo{
    background: transparent;
}


.elementor-5557 .elementor-element.elementor-element-350ad2d {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin-top: -57px;
    margin-bottom: 0;
}
.page-template-template-connectors header,
.single-connector header {
    display: none;
}

.page-template-template-connectors 
 .datasourceintegration-hero,
 .single-connector .datasourceintegration-hero {
    /*background-image: linear-gradient(210deg,#d81a5d 0%,#d81a5d 13%,#d81a5d 27%,#aacf36 100%);*/
    background: #fafafa;
    margin-top: 80px;
}
.page-template-template-connectors .datasourceintegration-footer,
.single-connector footer {
    /*background-image: linear-gradient(210deg,#d81a5d 0%,#d81a5d 13%,#d81a5d 27%,#aacf36 100%);*/
    background: #fafafa;
}
.page-template-template-connectors .datasourceintegration-hero a {
    color: #fff;
}



li.card {
    list-style-type: none;
}
.elementor-posts .elementor-post__card .elementor-post__thumbnail img {
    height: 250px;
    object-fit: cover;
}
.elementor-posts .elementor-post__card .elementor-post__title {
    min-height: 60px;
}

/*201119*/
.site-header {
    margin: 0 auto;
    position: relative;
    display: flex;
}

.site-header #bs-example-navbar-collapse-1 {
    padding: 0;
    width: calc(100% - 133px);
    display: flex!important;
}

.site-header .menu-header_menu-container .menu {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    list-style: none;
}

.site-header .menu-header_menu-container {
    width: calc(100% - 290px);
}

.navbar>.container .site-header .navbar-brand {
    margin: 0;
    display: flex;
    align-items: center;
}

.site-header .menu-header_menu-container .menu .menu-item {
    margin: 0;
    margin-right: 50px;
}

.navbar.navbar-fixed-top .container {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
}
.elementor-container.ipass-sec .elementor-widget-image .elementor-image img {
    height: 250px;
    width: 100%;
    object-fit: contain;
}

.elementor-widget-button .elementor-button {
    background: #104680!important; 
}

.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
    align-content: center;
}

.elementor-column-gap-wider>.elementor-row.alignment-wrap>.elementor-column>.elementor-element-populated .elementor-widget-wrap {
    align-content: flex-start;
}

footer .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
}

.text-new-psd-wala {
    text-align: center;
    margin-top: 20px;
}


/*201120*/

.container .site-header {
    padding: 0;
}

.heading-section-blends-list h2 {
    margin: 0;
}

.heading-section-blends-list {
    padding-top: 20px;
}

.datasourceintegration-hero .detail-page-connector-detail-hai-yeh {
    text-align: justify;
    color: #333;
}

.inner-page-banner {
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-page-banner img {
    height: 100%;
    width: 100%;
}

.entry-header {
    height: auto;
    text-align: center;
    background: #fafafa;
    padding: 10px 0;
}

.entry-header .entry-title {
    margin-top: 0;
    color: #d91b5e;
    text-align: center;
}

.entry-meta a, .entry-meta {
    /*color: #d91b5e;*/
    color: #333;
}

.single-post .site-main {
    max-width: 1170px;
    margin: 80px auto 0;
    display: block;
    padding: 0 15px;
}

.single-post .post-thumbnail {
    margin-bottom: 30px;
}

.single-post .entry-footer {
    padding: 15px 0;
    margin: 20px 0px;
}
/*
.single-post .comment-form p {
    display: flex;
    flex-wrap: wrap;
}

.single-post .comment-form p label {
    display: block;
    width: 100%;
}

.single-post .comment-form {
    display: flex;
    flex-wrap: wrap;
}

.single-post .comment-form .comment-notes {
    width: 100%;
}*/

.single-post .comment-respond {
    display: none;
}

.single-post .nav-previous {
    margin-bottom: 20px;
}

.single-post footer .container>div {
    padding: 0;
}

.page-template-template-connectors .help-paragraph h2 {
    color: #d91b5e;
    text-align: center;
}

.page-template-template-connectors .help-paragraph p {
    color: #333;
    font-size: 16px;
    margin: 0;
    text-align: center;
}

.page-template-template-connectors .datasourceintegration-hero .container-medium {
    padding: 30px 0px;
}

.page-template-template-connectors  #filter-tabs {
    padding: 0!important;
}

.page-template-template-connectors .datasourceintegration-hero .help-paragraph {
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
}